@charset "UTF-8";
ul, li{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
h1{
	text-align: center;
}
a{
	color: black;
	text-decoration: none;
}
.button_com{
	background: rgb(243, 156, 18);
	border: rgb(243, 156, 18);
	color: white;
	border-radius: 8px;
	text-align: center;
}
.logoDiv{
	width: 1200px;
	height: 125px;
	margin: 0 auto;
}
#logo{
	margin: 5px;
	padding: 0px;
}