

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-main: orange;
    --color-hover: rgb(227, 200, 150);
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  
    min-height: 100vh;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}
  
p {
    margin: 0;
}
  
strong, em {
    font-weight: inherit;
    font-style: normal;
}
  
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}


input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}



.main {
    display: flex;
    justify-content:center;
}

.info {
    padding-top: 40px;
}

.info > h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    padding: 10px;
    gap: 10px;
}

.user_profile_photo {
    height: 80%;
    border-radius: 70%;
    overflow: hidden;
}

.user_nick_name {
    font-weight: bold;
}
.user_profile_photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.user_info {
    margin-bottom: 15px;
}

.info_item {
    padding: 3px;
}
.user_etc {
}

.back_button {
	
}
.back_button > button {
    margin:15px 0 15px;
    width: 100%;
    height: 40px;
    background-color: var(--color-main);
    font-size: 16px;
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    color: white;
    border: 0px;
    border-radius: 8px;
}

.user_etc button {
    margin:15px 0 15px;
    width: 100%;
    height: 40px;
    background-color: var(--color-main);
    font-size: 16px;
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    color: white;
    border: 0px;
    border-radius: 8px;
}

.user_etc > button:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}

.user_etc > a {
    padding: 10px;    
}

.recipe {
    width: 50%;
}

.recipe_list {
    padding: 50px;
    width: 95%;
}

.recipe_list_header {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2px;
}

.recipe_list_header > a {
    color:gray;
}

.recipe_list_header > span {
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1;
}

.recipe_item {
    padding: 10px;
    display: inline-block;
    width: 170px;
    height: 190px;
}

.recipe_item :hover {
    opacity: 90%;
}

.recipe_name {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 0px;
}

.img_wrap > img {
    width: 150px;
    height: 160px;
    object-fit: cover;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.page-link {
    border: 0.1px solid lightgray;
    padding: 12px;
}

.page-active {
    background-color: #64b2f1;
    color: white;
}

.page-link:hover {
    background-color: lightblue;
}

.a-disable{
    pointer-events: none;
    cursor: default;
}