<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.campus.mapper.UsersMapper">
	<select id="idCheck" resultType="int">
		select count(userid) from members where userid=#{param1}
	</select>
	<insert id="createMember">
		insert into members(userid, userpwd, username, usernickname, tel, email) values(#{userid}, #{userpwd}, #{username}, #{usernickname}, #{tel}, #{email})
	</insert>
	<select id="loginSelect" resultType="com.multi.campus.vo.UsersVO">
		select userid, username, usernickname, addr, email
		from members
		where userid=#{param1} and userpwd=#{param2}
	</select>
	<select id="findid" resultType="com.multi.campus.vo.UsersVO">
		select userid from members where username = #{param1} and email = #{param2}
	</select>
	<select id="findpwd" resultType="com.multi.campus.vo.UsersVO">
		select userid from members where username = #{param1} and userid = #{param2} and email = #{param3}
	</select>
	<update id="passwordReset">
		update members set userpwd=#{userpwd} where userid=#{userid}
	</update>
</mapper>